@font-face {
  font-family: 'PressStart2P';
  src: url('assets/fonts/PressStart2P.ttf');
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#game {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fontLoader {
  display: block;
  height: 0px;
  font-family: 'PressStart2P';
}
